@import "tailwindcss";

@theme {
  --color-background: #1f1f1f;
  --color-foreground: #ffffff;
  --color-sidebar: #2b2b2b;
  --color-sidebar-border: #3d3d3d;
  --color-accent: #76b9ed;
  --color-muted: #aaaaaa;
  --color-muted-foreground: #aaaaaa;

  --color-card: #2b2b2b;
  --color-card-foreground: #ffffff;
  --color-border: #3d3d3d;
  --color-primary: #76b9ed;
  --color-primary-foreground: #000000;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}
